<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="font-size: 24px;letter-spacing: 1px">
    <h4>亲爱的用户:</h4>
    <div>您好！感谢您使用<span th:text="${productName}"></span>服务，您正在进行邮箱验证，本次请求的验证码为:</div>
    <div style="margin: 10px 0 200px 0">
        <span style="font-size: 28px;color: #f29d38" th:text="${code}"></span>
        <span style="color: #969797">(为了保障您账号的安全性，请在1小时内完成验证。)</span>
    </div>
    <div>
        <div style="margin-bottom: 20px"><span th:text="${productName}"></span>账号团队</div>
        <div th:text="${time}"></div>
    </div>
</div>
</body>
</html>
